body {
    text-align: center;
    user-select: none;
    background-color: black;
}

p {
    color: white;
}

.hints {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center
}

.hints span {
    padding: 10px;
}

.hints img {
    width: 40px;
    padding-left: 20px;
    cursor: pointer;
    margin: 0px;
    transition: 0.5s;
    vertical-align: middle;
}

.hints img:hover {
    scale: 1.2;
}

.hints button {
    font-family: 'VT323', monospace;
    font-size: 30px;
    background-color: #60DC40;
    padding: 10px 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.hints button:hover {
    border: 3px #60DC40 dotted;
    background-color: black;
    color: #60DC40;
}


.header img {
    min-width: 100px;
    max-width: 700px;
    height: auto;
    margin: 50px;
}

h2 {
    margin: 0px;
}

.lives-left {
    line-height: 20px;
    color: #60DC40;
    margin: 0px;
}


.lives-left img {
    max-width: 60px;
    padding: 0px 30px;
}

table {
    margin: auto;
}

td {
    font-family: 'VT323', monospace;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #60DC40;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

td:hover {
    background-color: #3f9929;
}

.smiley button {
    border: none;
    font-size: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: black
}

.modal button {
    font-family: 'VT323', monospace;
    border: none;
    background-color: #60DC40;
    font-size: 35px;
    width: 135px;
    height: 50px;
    color: black;
    margin: 15px 10px;
    cursor: pointer;
    transition: 0.5s;
}

.modal button:hover {
    border: 3px #60DC40 dotted;
    background-color: black;
    color: #60DC40;
}

.best-score {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 50px;
    margin: 20px;
    line-height: 40px;
}

.shown {
    background-color: #3f9929;
}