body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    user-select: none;
    background-color: black;
}

.header img {
    min-width: 100px;
    max-width: 700px;
    height: auto;
    margin: 50px;
}

.lives-left {
    line-height: 10px;
    color: #60DC40;
}

.lives-left img {
    max-width: 100px;
    padding: 20px;
}

table {
    margin: auto;
}

td {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #60DC40;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

td:hover {
    background-color: #3f9929;
}

.smiley button {
    border: none;
    font-size: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: black
}

.modal button {
    font-family: 'Permanent Marker', cursive;
    border: none;
    background-color: #60DC40;
    font-size: 25px;
    width: 135px;
    height: 50px;
    color: black;
    margin: 15px 10px;
    cursor: pointer;
    transition: 0.5s;
}

.modal button:hover {
    border: 3px #60DC40 dotted;
    background-color: black;
    color: #60DC40;
}

.timer {
    font-size: 40px;
    margin: 20px;
    color: white;
}

.shown {
    background-color: #3f9929;
}