body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    user-select: none;
    background-image: linear-gradient(#c9202e, #a61a26);
    background-url: 
}

img {
    width: 100%;
    height: auto;
}

table {
    margin: auto;
}

td {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #2fb2f7;
    color: #a61a26;
    font-size: 25px;
    font-weight: 600;
}

td:hover {
    background-color: #1b8dd0;
}

.smiley button {
    border: none;
    font-size: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: #B6202B;
    
}

.modal button {
    font-family: 'Permanent Marker', cursive;
    border: none;
    background-color: #2fb2f7;
    font-size: 25px;
    width: 150px;
    height: 50px;
    color: #c9202e;
    margin: 15px 10px;
    cursor: pointer;
    transition: 0.5s;
}

.modal button:hover {
    background-color: #1b8dd0;
}

.timer {
    font-size: 40px;
    margin: 20px;
    color: white;
}

.shown {
    background-color: #1b8dd0;
}